body{
	background-color: white;
}
.homeart{
	width: 150px;
	height: 150px;
}

.imgsor{
	float: left;
    margin: 0 20px 20px 0;
    width: 100px;
	height: 100px;
}

.identp {
    text-align: justify;
    text-indent: 2em;
}